*{

    padding: 0;
    margin: 0; 
    box-sizing: border-box;
    
}


#contenitemcarrousel{
   
    height: 700px;
   
    overflow:hidden;
   
}


.itemCarrousel{
    
    height: 100%;
    width: 100%;
    position: relative;
}

.tarjetaCarrusel{

    
    height: 100%;
}

.flechasCarrusel {
   
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;

}


a {
    text-decoration: none;
}

i {
    color: white;
}

img {
    width: 100%;
    height: 100%;
}



#logo{
    width: 120px;
    height: 90px;
    padding: 10px;
    background-color: rgba(250, 181, 181, 0.993);
    border-radius: 35%;
    border: 0.50px solid rgb(255, 255, 255);
    
}

#navegacion {
    width: 100%;
    height: 75px;
    display: table;
    text-align: center;
    font-size: xx-large;
    
    
}

.activa {
    
}

#navegacion ol {
    display: flex;
    
}

#navegacion ol li {
    list-style: none;
    
    
    
}

#navegacion ol li a {
    text-decoration: none;
    padding: 25px 20px;
    display: table;
    color: #000;
}

#navegacion ol li a:hover {
    background-color: rgba(250, 181, 181, 0.993);
    color: aliceblue;
}

#texto h5 {
    color: white;
    background-color: rgba(250, 181, 181, 0.993);
    text-align: center;
    height: 50px;
    font-size: 40pt;
    padding-bottom: 5%;
    
}

#footer {
    width: 100%;
    height: 75px;
    background-color: black;
    color: aliceblue;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 5%;
}

input[type=text] {
    width: 300px;
    height: 25px;
    padding-left: 1%;
    border-radius: 5%;
}

input[type=email] {
    width: 300px;
    height: 25px;
    padding-left: 1%;
    border-radius: 5%;
}

textarea {
    width: 300px;
    height: 250px;
    padding-left: 1%;
    padding-top: 0.5%;
    border-radius: 5%;
}

form {
    display: block;
    float: left;
    margin-right: 150px;
}

iframe {
    border: 1px solid black;
    border-radius: 5px;
}

button {
    width: 150px;
    height: 50px;
    background-color: rgb(255, 255, 255);
    color: #000000;
    border-radius: 10%;
    border-color: #ffffff;
}

button:hover {
    background-color: rgba(250, 181, 181, 0.993);
    color: #000000;
}

#footer {
    width: 100%;
    height: 75px;
    background-color: black;
    color: aliceblue;
    text-align: center;
    padding-top: 3%;
}

#cuerpo {
    width: 100%;
    height: 100%;
    color: rgb(255, 255, 255);
    /* padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    padding-bottom: 5%; */
    display: table;
    padding: 5% 5% 5% 5%;
    background-color: rgba(250, 181, 181, 0.993);

}

#cuerpo h4{

    color: #ffffff;
    text-align: center;
    margin-bottom: 5%;
    font-size: 20pt;
    

}

#cuerpo p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22pt;
    font-style: italic;
    margin-bottom: 2%;
    margin-top: 2%;
    text-align: center;
    text-align: justify;
    padding-top: 1%;
    font-weight: 300;
    color: white;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 2%;

}

.imagen-donas {
    width: 400px;
    height: 350px;
    margin-right: 0.15%;
    margin-left: 0.15%;
    border-radius: 8%;
    
}

.cup-1{
    width: 400px;
    height: 350px;
    margin-right: 0.15%;
    margin-left: 10%;
    border-radius: 7%;
}

.torta{
    width: 400px;
    height: 370px;
    margin-right: 0.15%;
    margin-left: 10%;
    border-radius: 7%;
    border-color: #000;

}

.marquesas {
    width: 400px;
    height: 450px;
    margin-left: 34%;
    border-radius: 7%;
    border-color: #000;

}

.piedelimon {
    width: 400px;
    height: 450px;
    margin-left: 34%;
    border-radius: 7%;
    border-color: #000;
}

.brazogitano {
    width: 400px;
    height: 450px;
    margin-left: 34%;
    border-radius: 7%;
    border-color: #000;
}

.local-adentro {
    width: 80%;
    height: 600px;
    margin-left: 10%;
   
    
    border-radius: 2%;
    border-color: #000;
}

#cuerpo h2, h3 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20pt;
    font-weight: bold;
    color: white;
    font-style: italic;
    margin-bottom: 1%;
    text-align: center;
    margin-right: 17%;
}

#cuerpo h1 {
    text-align: center;
    font-size: 35pt;
    padding-top: 3%;

}

#cuerpo h5 {
    margin-bottom: 3%;
    

}

#cuerpo h6 {
    text-align: center;
}

#cuerpo hr {
    background-color:#e236a6;
    height: 2px;
}

#footer {
    font-size: 15pt;
}